<h1> attack page </h1>
<% if @game.current_player == @game.player_1 %>
<%=@game.player_1.name%> attacked <%=@game.player_2.name%>
<% else %>
<%=@game.player_2.name%> attacked <%=@game.player_1.name%>
<% end %>

<form action="/switch" method="post">
  <input type="submit" value="OK">
</form>
