<h2 align="right"><%=@player1.name%> vs. <%=@player2.name%></h2>

<p><%=@player2.name%>: <%=@player2.hit_points%> HP</p>

<form action='/attack'>
  <input type="submit" value="Attack"></input>
</form>
