<h2 align="right"><%=@game.player_1.name%> vs. <%=@game.player_2.name%></h2>

<p><%=@game.player_2.name%>: <%=@game.player_2.hit_points%> HP</p>

<form action='/attack'>
  <input type="submit" value="Attack"></input>
</form>
